@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Marck+Script&display=swap');



/*CSS Varible*/
:root {
    /*Fonts*/
    --header-font: "Marck Script", serif;
    --secondary-font:"Kavivanar", serif;
    /*Colors*/
    --dark-color:#3c362a; /* Dark Taupe*/
    --secondary-color:#b75d69; /* Red wood*/
    --light-color:#eacdc2; /* Pale Dogwood */
    --light-light-color:#ffeee2; /*Linnen*/
    --high-light-color:#75dbcd; /* Tiffany Blue*/
}
/*General style*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body*/
main{
  background-color: var(--light-light-color);
 }

 footer{
  background-color: var(--secondary-color);
 }

/*Header style*/
header {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-decoration: none;
  padding: 0 1rem;
  z-index: index 99;
  width: 100%;
  box-shadow: 0 2px 2px var(--dark-color);
  justify-content: space-between;
  align-items: baseline;
}

#logo{
  font-family: var(--header-font);
  color: var(--light-color);
}
 