@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Marck+Script&display=swap');



/*CSS Varible*/
:root {
    /*Fonts*/
    --header-font: "Marck Script", serif;
    --secondary-font:"Kavivanar", serif;
    /*Colors*/
    --dark-color:#3c362a; /* Dark Taupe*/
    --secondary-color:#ce928b; /* Red wood*/
    --light-color:#eacdc2; /* Pale Dogwood */
    --light-light-color:#ffeee2; /*Linnen*/
    --high-light-color:#75dbcd; /* Tiffany Blue*/
}
/* over ride defeault styles added by browser*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*General style*/
.section{
  margin-bottom: 4rem;
  width:95%;
}
/*Body*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color:var(--dark-color);
  font-family: var(--secondary-font), cursive;
}

/*Button Style*/
.btn {
  background-color: var(--high-light-color);
  color: var(--dark-color);
  border: none;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-light-color);
}

/*Header style*/
header {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-decoration: none;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px var(--dark-color);
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
}

header a{
  text-decoration: none;
  color: inherit;
}

header h1{
  font-family: var(--header-font);
  text-transform: none;
  letter-spacing: 4px;
  color: var(--dark-color);
  margin-top: 0.5rem;
  }

#menu{
  font-size: 110%;
  letter-spacing: 4px;
  list-style: none;
}

#menu > li{
  margin-bottom: 0.5em;
}
.active{
  border-bottom: 1px solid var(--dark-color);
}

nav{
  position: absolute;
  background-color: var(--secondary-color);
  width: 100%;
  left: 0;
  padding-top: 0 1rem;
  box-shadow: 0 2px 2px var(--dark-color);
  display: none;
  top: 100%;
}

/*Toggel nav*/
#nav-toggle:checked~nav{
  display: block;
}

#nav-toggle{
  display: none;
}

.nav-toggle-label{
  font-size: 2rem;
}

.active{
  border-bottom: 1px solid var(--dark-color);
}

main{
  background-color: var(--light-light-color);
  flex: 1 0 auto;
  margin-top: 57px;
}

main h1{
  font-family: var(--header-font);
  font-size: 300%;
  color: var(--dark-color);
  letter-spacing: 4px;
}

main h2 h3 {
  font-family: var(--header-font);
}

#cards {
  width:95%;
}
/*Footer*/
footer{
  background-color: var(--secondary-color);
}

/* remove the margin on icons in footer to center them*/
footer ul {
  margin-bottom: 0;
}

#social-media {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#social-media i {
  font-size: 160%;
  padding: 5%;
  color: var(--dark-color);
}

/*coming up page*/

#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

#success {
  display: flex;
  align-items: center;
}

/* media queries for tablets*/
@media screen and (min-width: 768px){
  /*Header*/
  nav{
    display: block;
    position: relative;
    box-shadow: none;
    width: fit content;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    /* Push main content down to accommodate larger header */
    margin-top: 81px;
  }
  
}/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}
/* media queries for tablets*/
@media screen and (min-width: 992px){
  #menu a:hover {
    border-bottom: 1px solid var(--light-color);
    color: var(--light-color);
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* make all service cards the same height for consistency */
  #cards .card-body {
      min-height: 222px;
  }
  .card-text {
    min-height: 80px;
  }
  }
}

/* xxl devices (larger desktops, 1400px and up)*/ 
@media screen and (min-width: 1400px) {
/* make all service cards the same height for consistency */
  #cards .card-body {
      min-height: 195px;
  }
}