@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Marck+Script&display=swap');



/*CSS Varible*/
:root {
    /*Fonts*/
    --header-font: "Marck Script", serif;
    --secondary-font:"Kavivanar", serif;
    /*Colors*/
    --dark-color:#3c362a; /* Dark Taupe*/
    --secondary-color:#b75d69; /* Red wood*/
    --light-color:#eacdc2; /* Pale Dogwood */
    --light-light-color:#ffeee2; /*Linnen*/
    --high-light-color:#75dbcd; /* Tiffany Blue*/
}
/* over ride defeault styles added by browser*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*General style*/

/*Body*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color:var(--dark-color);
  font-family: var(--secondary-font), cursive;
}

/*Header style*/
header {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-decoration: none;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px var(--dark-color);
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
}

header a{
  text-decoration: none;
  color: inherit;
}
h1{
  font-family: var(--header-font);
  text-transform: none;
  letter-spacing: 2px;
  color: var(--dark-color);
  }

#menu{
  font-size: 110%;
  letter-spacing: 4px;
  list-style: none;
}

#menu > li{
  margin-bottom: 0.5em;
}
.active{
  border-bottom: 1px solid var(--dark-color);
}

nav{
  position: absolute;
  background-color: var(--secondary-color);
  width: 100%;
  left: 0;
  padding-top: 0 1rem;
  box-shadow: 0 2px 2px var(--dark-color);
  display: none;
  top: 100%;
}

/*Toggel nav*/
#nav-toggle:checked~nav{
  display: block;
}

#nav-toggle{
  display: none;
}

.nav-toggle-label{
  font-size: 2rem;
}

.active{
  border-bottom: 1px solid var(--dark-color);
}

main{
  background-color: var(--light-light-color);
  flex: 1 0 auto;
  margin-top: 53px;
}
/*Footer*/
footer{
  background-color: var(--secondary-color);
}

#social-media {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

#social-media i {
  font-size: 160%;
  padding: 5%;
  color: var(--dark-color);
}

/* media queries for tablets*/
@media screen and (min-width: 768px){
  /*Header*/
  nav{
    display: block;
    position: relative;
    box-shadow: none;
    width: fit content;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    /* Push main content down to accommodate larger header */
    margin-top: 81px;
  }
  
}
/* media queries for tablets*/
@media screen and (min-width: 992px){
  #menu a:hover {
    border-bottom: 1px solid var(--light-color);
    color: var(--light-color);
  }
}